@import "mixin";

header{
    padding-top: 1rem;
    background-color: rgb(5, 138, 138);
    @include simpleFlex(column);
    height: 15vh;
    text-align: center;

    .headerTitle{
        font-size: 200%;
    }
}